.modal {
    display: block;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalContentBox {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 20%;
    height: 105px;
}

.header {
    margin: 5px 0px 15px 0px;
    color: rgb(69,69,69)
}

.modalContentBox input {
    border-radius: 5px;
    border: solid 1px lightgray;
    padding: 5px;
    width: 95%;
    margin: 0px 0px 10px 0px;
    outline-color: #FFB300;
}

.buttonContainer {
    margin-top: 5px;
    // float: right;
}

.buttonContainer div {
    cursor: pointer;
    float: right;
    padding: 5px 10px;
    background-color: rgb(69,69,69);
    color: white;
    font-size: 12px;
    margin: 2px;
    border-radius: 3px;
    border: 1px solid rgb(69,69,69);
}

.buttonContainer .cancelButton {
    background-color: white;
    color: rgb(69,69,69);
}

@media only screen and (max-width: 450px) {
    .modalContentBox {
      height: 125px;
      width: 60%;
      margin: 55% auto;
    }
}