.container {
    height: 100%;
    width: 20vw;
    position: fixed;
    padding: 20px 0px 0px 15px;
    color: rgb(69,69,69);
}

.container .search {
    width: 70%;
    border-radius: 7px;
    height: 20px;
    outline-width: 0;
    border-radius: 5px;
    border: solid 1px lightgray;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

.title {
    font-size: 12px;
    padding-left: 2px;
}

.radioContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.radioContainer div {
    margin-bottom: 20px;
}

.all {
    display: flex;
    flex-direction: row;
    input {
        width: 20px;
    }
    label {
        font-size: 14px;
    }
}

.available {
    display: flex;
    flex-direction: row;
    input {
        width: 20px;
    }
    label {
        font-size: 14px;
    }
}

.checkedOut {
    display: flex;
    flex-direction: row;
    input {
        width: 20px;
    }
    label {
        font-size: 14px;
    }
}

.filterButton {
    display: none;
}

@media only screen and (max-width: 450px) {
    .container {
        width: 100%;
        position: relative;
        padding: 0px;
    }
    .container .search {
        border-radius: unset;
        margin: unset;
        width: 100%;
        height: 40px;
        padding: 20px;
        border: unset;
        box-sizing: border-box;
    }
    .filterButton {
        cursor: pointer;
        user-select: none;
        right: 20px;
        position: relative;
        z-index: 1;
        float: right;
        display: block;
        bottom: 30px;
    }
    .filterButton::selection {
        background: transparent;
        background-color: transparent;
    }
    .title {
        display: none;
    }
    .radioContainer {
        display: none;
    }
  }